/*
 * @Author: Dheeraj Chaudhary 
 * @Date: 2018-03-08 16:32:24 
 * @Last Modified by: Dheeraj.Chaudhary@contractor.hallmark.com
 * @Last Modified time: 2018-03-08 23:59:48
 */

.add-option {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}
.add-option-error {
  color: rgb(238, 111, 111);
  font-style: italic;
  padding: 0 $m-size;
  margin: $m-size 0 0 0;
}
.add-option__input {
  flex-grow: 1;
  background: $dark-blue;
  border: none;
  border-bottom: 0.3rem solid darken($dark-blue, 10%);
  margin: 0 0 $s-size 0;
  //   margin-right: $s-size;
  color: $off-white;
  padding: $s-size;
  word-break: break-all;
}

@media (min-width: 45rem) {
  .add-option {
    flex-direction: row;
  }
  .add-option__input {
    margin: 0 $s-size 0 0;
  }
}
