/*
 * @Author: Dheeraj Chaudhary 
 * @Date: 2018-03-08 13:52:48 
 * @Last Modified by: Dheeraj.Chaudhary@contractor.hallmark.com
 * @Last Modified time: 2018-03-08 13:57:04
 */
.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $m-size;
}
