/*
 * @Author: Dheeraj Chaudhary 
 * @Date: 2018-03-08 14:52:26 
 * @Last Modified by: Dheeraj.Chaudhary@contractor.hallmark.com
 * @Last Modified time: 2018-03-08 15:48:49
 */
//Block

.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}
.widget__message {
  color: $off-white;
  margin: 0;
  padding: $l-size;
  text-align: center;
  border-bottom: 1px solid lighten($light-blue, 10%);
}
//Block
.widget-header {
  background: $blue;
  color: $off-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
}

//element selector
.widget-header__title {
  margin: 0;
}
